*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

label,
button {
    display: inline-block;
}

a {
    text-decoration: none;
}

img {
    vertical-align: bottom;
    pointer-events: none;
}

html {
    scroll-behavior: smooth;
    --primary-color: #a87958;
    --secondary-color: #39291d;
    --coffee-color: #6F4E37;
    --btn-bg-color: #4f4f27;
    --dark-bg: #111;
    --white-color: #eee;
    --light-white: #999;
}

.text-center {
    text-align: center;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(./bg.jpeg) no-repeat center/cover;
    height: 100vh;
    font-family: "Monserrate", system-ui, sans-serif;
}

.btn {
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: 0.4s;
    margin-top: 1rem;
    cursor: pointer;
    border: 1px solid var(--coffee-color);
    background: var(--primary-color);
}

.btn:hover {
    background: var(--secondary-color);
    color: var(--white-color);
    border: 1px solid var(--primary-color);
}

.img-resp {
    max-width: 100%;
    height: auto;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    backdrop-filter: blur(2px);
}

nav {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}

nav a.logo {
    font-size: 1.4rem;
    font-weight: 500;
}

.logo span {
    color: var(--coffee-color);
}

nav a {
    color: var(--white-color);
    padding: 5px;
    transition: 0.4s;
    font-weight: 500;
}

nav a:hover:not(.logo) {
    color: var(--coffee-color);
}

.menu {
    display: flex;
    gap: 30px;
    position: relative;
}

nav .menu-bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    font-size: 1.4rem;
    color: var(--white-color);
    transition: 0.4s;
}

nav .menu-bar,
nav .close-menu-bar {
    display: none;
}

nav .menu-bar:hover {
    color: var(--primary-color);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}

/* ------------------- hero section -------------------- */

.hero {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    color: var(--white-color);
}

.hero .btn {
    display: inline-block;
    margin-top: 10px;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 14px;
    margin: 10px 0;
    font-weight: 200;
    color: var(--white-color);
}


/* ------------------- coffee section wrap-1 -------------------- */

.wrap-1 {
    background: var(--secondary-color);
    padding: 80px 0;
    color: var(--coffee-color);
}

.wrap-1 h2 {
    margin-bottom: 2rem;
    color: var(--primary-color);
}

.slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.coffee-card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 10px 0;

    /* SCROLLBAR HIDE */
    scrollbar-width: none;
    /* Firefox */
}

.coffee-card-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.coffee-card {
    flex: 0 0 auto;
    width: 260px;
    background: linear-gradient(#000000, #03020b);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 10px #00000033;
    transition: 0.4s;
}

.coffee-card:hover {
    background: linear-gradient(#03020b, #000);
}

.coffee-card img {
    pointer-events: none;
    user-select: none;
    transition: 0.4s;
}

.coffee-card:hover img {
    transform: scale(1.1);
}

.wrap-1 .coffee-card h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

.coffee-card .name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


.slide-btn {
    background: var(--dark-bg);
    color: var(--white-color);
    border: none;
    padding: 8px 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    transition: 0.4s;
}

.slide-btn:hover {
    background: var(--primary-color);
}

.left-btn {
    left: -14px;
}

.right-btn {
    right: -14px;
}


.coffee-card h3 {
    color: var(--coffee-color);
}

.coffee-card p {
    font-weight: 200;
    color: var(--light-white);
    font-size: 14px;
}

/* ------------------- about us section wrap-2 -------------------- */

.wrap-2 {
    background: var(--primary-color);
    padding: 80px 0;
}

.wrap-2 h2 {
    color: var(--secondary-color);
}

.wrap-2 p {
    margin: 1rem 0;
}

/* ------------------- why choose us section wrap-3 -------------------- */

.wrap-3 {
    background: var(--secondary-color);
    padding: 60px 0;
}

.wrap-3 h2 {
    color: var(--primary-color);
}

.wrap-3 p {
    color: var(--dark-bg);
}

.wrap-3 .choose-us-subtitle {
    color: var(--light-white);
}

.wrap-3 .choose-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 2rem;
}

.choose-container .choose-box {
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s ease;
    border: 1px solid var(--white-color);
}

.wrap-3 .choose-box p {
    margin: 10px 0;
}

.choose-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


/* ------------------- coffee & branches section wrap-4 -------------------- */
.wrap-4 {
    background: var(--primary-color);
    padding: 80px 0;
}

.wrap-4 h2 {
    color: var(--secondary-color);
    margin-bottom: 2rem;
}

.wrap-4 .gallery-container {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    justify-content: center;
}

.wrap-4 .gallery-img-box {
    width: 320px;
    height: 260px;
    box-shadow: 0 0 10px #333;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.gallery-img-box img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrap-4 .gallery-box-layer {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3) linear-gradient(rgba(0, 0, 0, 0.05), rgba(1, 4, 26, 0.8));
    transition: 0.4s;
    text-align: center;
    display: flex;
    align-items: center;
    color: var(--light-white);
}

.gallery-box-layer.active {
    bottom: 0;
}

.gallery-box-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light-white);
    text-align: center;
}

.gallery-box-text p {
    font-size: 14px;
    margin-top: 10px;
}

.gallery-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: 50% 50%;
    transition: 0.4s;
    pointer-events: none;
}

.gallery-box:hover img {
    transform: scale(1.02);
    filter: saturate(1.2) contrast(1.2);
}

/* ------------------- testimonial section wrap-5 -------------------- */

.wrap-5 {
    background: var(--secondary-color);
    padding: 50px 0;
}

.wrap-5 h2 {
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.swiper {
    max-width: 40%;
    padding: 20px 0 !important;
    margin: auto;
    color: var(--light-white);
    text-align: center;
}

.swiper .swiper-slide h4 {font-weight: 400;}
.swiper-slide h4 {margin: 8px 0;}

.wrap-5 .swiper img {border-radius: 50%; filter: contrast(1.2) saturate(1.2);}


/* ------------------- contact us section wrap-6 -------------------- */

.wrap-6 {
    background: var(--primary-color);
    padding: 50px 0;
}

.wrap-6 h2 {
    color: var(--secondary-color);
}

.wrap-6 .contact-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    box-shadow: 0 0 10px #333;
}

.contact-container .address-section,
.contact-container .message-section {
    width: 50%;
    padding: 3rem;
    background: var(--secondary-color);
}

.contact-container .address-section {
    background: url(./contact_img1.jpg) no-repeat center/cover;
    position: relative;
    overflow: hidden;
    color: var(--white-color);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.address-section span {
    font-weight: 400;
    color: var(--primary-color);
}

.address-section p {
    margin-left: 1.5rem;
    color: var(--light-white);
    font-weight: 200;
}

.address-section i {
    margin-right: 0.8rem;
    color: var(--light-white);
}

.address-section::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3) linear-gradient(-45deg, rgba(0, 0, 0, 0.05), rgba(1, 2, 15, 0.9));
    top: 0;
    left: 0;
    z-index: -1;
}

.contact-container .message-section {
    background: var(--secondary-color);
    color: var(--light-white);
}

.contact-container .input-box-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-box-container .input-box {
    display: flex;
    flex-direction: column;
}

.input-box label {
    margin-bottom: 5px;
}

.input-box input,
.input-box-container input[type="submit"] {
    background: var(--dark-bg);
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    color: var(--primary-color);
    caret-color: #00ccff;
}

.input-box-container textarea {
    padding: 1rem;
    min-height: 100px !important;
    resize: none;
    border: none;
    outline: none;
    border-radius: 4px;
    font-family: "poppins", sans-serif;
    background: var(--dark-bg);
    caret-color: #00ccff;
    color: var(--light-white);
}

.input-box-container input[type="submit"] {
    cursor: pointer;
    color: var(--light-white);
    font-weight: 500;
    transition: 0.4s;
}

.input-box-container input[type="submit"]:hover {
    background: var(--primary-color);
    color: var(--dark-bg);
}


/* ------------------- footer wrap-7 -------------------- */

.footer {
    background: var(--dark-bg);
    padding: 50px 0 20px;
    font-family: "Montserrat", sans-serif;
}

.footer-section h4 {
    font-weight: 400;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.footer-section p {
    color: var(--light-white);
    font-weight: 200;
    font-size: 14px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

h3.footer-logo {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.footer p {
    line-height: 1.5;
}

.footer-section .footer-social-icons-msg {
    color: rgb(241, 77, 77);
    margin-top: 1rem;
}

.footer .footer-social-icons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.footer-social-icons i {
    display: inline-block;
    color: var(--primary-color);
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.4s;
}

.footer-social-icons i:hover {
    color: var(--coffee-color);
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin: 6px 0;
}

.footer-links a {
    color: var(--light-white);
    text-decoration: none;
    transition: 0.2s;
    font-size: 14px;
    letter-spacing: 1px;
}

.footer-links a:hover {
    color: var(--coffee-color);
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #333;
    font-size: 14px;
    color: #555;
}

.footer #go-top {
    position: fixed;
    bottom: -1rem;
    right: 1rem;
    background: var(--coffee-color);
    color: var(--light-white);
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 50%;
    transition: 0.2s;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

#go-top:hover {background: var(--dark-bg); color: var(--white-color);}
#go-top.show-go-top {
    bottom: 1rem;
    opacity: 1;
    pointer-events: auto;
}



/* ------------------- break points -------------------- */


@media screen and (max-width: 767px) {

    nav .menu-bar,
    nav .close-menu-bar {
        display: block;
    }

    .menu {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        padding: 3.5rem 5px 0 1rem;
        background: var(--dark-bg);
        height: 100vh;
        flex-direction: column;
        gap: 10px;
        z-index: 99;
        transition: 0.4s all ease;
    }

    nav a:not(.logo) {
        color: var(--coffee-color);
        display: block;
        width: 100%;
    }

    .close-menu-bar {
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: inline-block;
        padding: 4px;
        font-weight: 900;
        cursor: pointer;
        transition: 0.4s;
        color: var(--primary-color);
    }

    .close-menu-bar:hover {
        color: var(--light-white);
    }

    .menu.show {
        left: 0;
    }

    .hero {
        width: 100%;
    }

    .wrap-1 .slide-btns {
        position: absolute;
        left: 50%;
        bottom: -10px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .slide-btns .slide-btn {
        padding: 4px 9px;
        font-size: 12px;
        margin: 0 -8px;
    }

    .wrap-4 .gallery-img-box {
        width: 90%;
        height: 230px;
    }

    .wrap-6 .contact-container {
        flex-direction: column;
    }

    .contact-container .address-section,
    .contact-container .message-section {
        width: 100%;
        padding: 2rem;
    }

    .footer-grid {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 480px) {
    .hero {
        text-align: center;
        margin-top: 1.5rem;
    }

    .hero h1 {
        font-size: 2rem;
    }


    .contact-container .address-section,
    .contact-container .message-section {
        padding: 1rem;
    }

    .wrap-4 .gallery-img-box {
        width: 100%;
        height: 200px;
    }

    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer .footer-social-icons {
        justify-content: center;
    }
}